<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header><h2>{{article.title}}</h2></header>
                <p> {{article.content}} </p>
                <small class="author"> {{article.author.fullName}} </small>
                <footer>
                    <div class="pull-left"> {{# each article.tags}}
                        <a class="btn btn-default btn-xs" href="/tag/{{this.name}}">{{ this.name }}</a> {{/each}} </div>


                    {{#if isUserAuthorized}}
                    <div class="pull-right"><a class="btn btn-success btn-xs"
                                               href="/article/edit/{{article.id}}">Edit &raquo;</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>

                    {{/if}}
                        <a class="btn btn-default btn-xs pull-right" href="/category/{{article.category}}">Back &raquo;</a>
                    <a class="btn btn-default btn-xs pull-right" href="/article/comment/{{article.id}}">Comment</a></div>


                    <h5>
                        <div class="pull-right">  Views: {{article.views}}&nbsp;&nbsp;&nbsp</div>
                    </h5>

                </footer>
                </br>

                {{#if CommentsExist}}
                    <h3>Comments: </h3>
                {{/if}}

                <div class="col-sm-4">
                    {{#each article.comments}}
                        <div class="col-md-8">
                            <comment>
                                <h4>{{ this.name}} commented: </h4>

                                <h5> {{ this.content }} </h5>
                            </comment>
                        </div>
                    {{/each}}
                </div>

            </article>
        </div>
    </div>
</div>